<a href="https://colab.research.google.com/github/mhasnainr/Python-Apna-College/blob/main/1_variables_and_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables, Data Types & Strings**

In [3]:
print('Welcom to ')
print('Python')
print('Welcom to', 'Python') # comma b/w multiple inverted commas keeps it  in a single line

Welcom to
Python
Welcom to Python

In [30]:
# Types of Operators


# 1. Arithmetic: +, -, *, /, %, // (integer division), **
# 2. Relation/ Comparison: ==, !=, >, <, >= , <=
# 2. Assignment: =, -=, *=, /=, %=, //=, **=
# 2. Logical: not, and , or
# 2. Membership: in, not in
# 2. Identity: is, is not
# 2. Bitwise: &, |, ^

In [31]:
# Operator Precedence

# not > and  > or

In [4]:
# Assignment Operator: ' = '
# e.g;

age = 43

In [5]:
# Variable/ identifier names should be: short, simple & identifier

In [7]:
# Data Types


# Integers: +ve, -ve, 0

# String: 'name', "age", """ this is paragraph """

# Float: 32.5, -0.432

# Boolean: True,  False

#  None: a = None

In [8]:
age = 32
old = False
a = None

print(type(old))
print(type(a))

<class 'bool'>
<class 'NoneType'>

In [9]:
# Keywords

# Keywords are reserved in Python

In [11]:
# Python is case sensitive
# e.g;

# 'Apple' and 'apple' are both different

In [10]:
# Types of Tokens

# Punctuators are symbols to organise sentence structure in programming
# e.g:

# {}, (), [], @, #, etc

In [12]:
# Typed language

# 1. Implicit: no need to provide a specific type
# e.g; name = 'hasnain'
# so python is an implicit typed language



# 2. Explicit: need to provide a specific tpye
# e.g; int age = 32
# so C++, Java, etc are explicit

In [17]:
# Expression Execution

# 1. String and Numeric alues can operate together with *
# In Python, if a string  is multiplied with a number, it will multiply (repeat) it

# e.g;
a, b = 2,3
txt = '@'
print(2 * txt * 3)

@@@@@@

In [18]:
# 2. String & String can operate with +
# multiple strings can be combined using '+'
# concatenation is another name for it

# e.g;
a, b = '2', 3
txt = '@'
print((a + txt) * b)

2@2@2@

In [28]:
# 3. Numeric values can operate with all arithmetic operators

# e.g;
a, b = 2, 3
c = 5
print(a+b*c)

17

In [20]:
# 4. Arithmetic expression with integer and float will result in float

# e.g;
a, b = 10, 4.6
c = a * b
print(c)

46.0

In [21]:
# 5. result of division operator with two integers will be float

# e.g;
a, b = 10, 4
c = a / b
print(c)

2.5

In [25]:
# 6. Integer division (//) with float and int will give int displayed as float
# means: rounding back
# e.g;
a, b = 10, 4.6
c = a // b
print(c, a/b)

2.0 2.173913043478261

In [27]:
# 6.1: floor gives closest integer (backwards), which is lesser than or equal to the float value

a, b = 43, 5
result = a // b
print(result)

8

In [32]:
a = not True and False or True
print(a)

True

In [33]:
# evaluation using Precedence operator

# (not True) and False or True
# ( False and ) False or True
# False or True => True

**Conditional Statements**

In [34]:
# Syntax
# if-elif-else

# e.g;

light = input('Light: ')
if(light == 'red'):
  print('Stop')
elif(light == 'green'):
  print('Go')
else:
  print('Wrong signal')

Light: green
Go

In [36]:
# using Logical Operators

# e.g; Grades of Students

marks = input('Marks: ')
if(marks >= '90'):
  print('A')
elif marks >= '80' and marks < '90':
  print('B')
elif marks >= '70' and marks < '80':
  print('C')
elif marks >= '60' and marks < '70':
  print('D')
else:
  print('Fail')

Marks: 54
Fail

In [46]:
# Single Line if/ Ternary Operator
# var = val1 if condition else val2

# e.g 1;
food = input('Food: ')
eat = 'Yes' if food == 'rice' else 'No'
print(eat)

# e.g 2;
food = input('Food: ')
eat = 'Yes' if food == 'rice' or food == 'roti' else 'No'
print(eat)

Food: potatoes
No
Food: rice
Yes

In [45]:
# Clever if/ Ternary Operator
# var = (false_value, true_value) [condition]

age = int(input('Age: '))
vote = ('yes', ' no') [age < 18]
print(vote)

Age: 32
yes

In [41]:
age = int(input('Age: '))
vote = ('yes', ' no') [age < 18]
print(vote)

Age: 12
 no

In [42]:
salary = float(input('Salary: '))
tax = salary * (.1, .2) [salary > 30000]
print(tax)

Salary: 20000
2000.0

In [44]:
salary = float(input('Salary: '))
tax = salary * (.1, .2) [salary > 30000]
print(tax)

Salary: 40000
8000.0

In [48]:
# Best Practices

# simple instruction
# one instruction per task
# short & meaningful var names
# use appropriate comments
# avoid cmplex expressions

In [49]:
# single line comments
# triple inverted commas - multi-line comments