<a href="https://colab.research.google.com/github/mhasnainr/Python-Apna-College/blob/main/3__lists_%26_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter 3: Lists & Tuples**

# Lists

In [1]:
# it's a built-in data-type
# it's mutable [changeable]
# Syntax: [] is used with comma is placed for multiple elements

In [ ]:
# it can store elements of diff. types (int, float, str, etc)
# e.g;

student = ['Asif', 54, 3.43]

print(type(student))

print(type(student[0]))
print(type(student[1]))
print(type(student[2]))

<class 'list'>
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# diff b/w strings & lists

# strings:
# - immutable: unchangeable
# index element is only accessable

# e.g;
# str = 'hello'
# print(str[0])
# str[0] = 'ali' # TypeError: 'str' object does not support item assignment


# lists
# - mutable: changeable
# index element is accessable + manipulatable within the range

# e.g;
std = ['asif', 12]
print(std[0])
std[0] = 'ali'
print(std[0]) # no error, hence value will be changed

asif
ali

In [ ]:
# List slicing
# it's similar to that of string slicing

In [ ]:
# List Methods

# list.append: adds at the end
# list.sort: ascending
# list.sort(reverse = True): descending
# list.reverse
# list.insert(idx, el)
# list.remove(4): e.g; from this [2, 3, 4, 5, 4] --> [2, 3, 5, 4]
# list.pop(idx)

# Tuples

In [2]:
# it's a built-in data-type
# it's immutable [not changeable], just like strings
# Syntax: () is used with comma is placed for multiple elements

In [3]:
num = (4, 2, 3)
print(type(num))

<class 'tuple'>

In [5]:
# proof of Tuples being immutable

print(num[0])
# num[0] = 5 # TypeError: 'tuple' object does not support item assignment

4

In [6]:
# empty tuple also exists

tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [8]:
# in case, there's a single element inside a tuple, it's good to place comma after it

In [14]:
# with comma

a = (1,)
print(a)
print(type(a))

c = ('hello',)
print(c)
print(type(c))

(1,)
<class 'tuple'>
('hello',)
<class 'tuple'>

In [10]:
# without comma
b = (1)
print(b)
print(type(b))

1
<class 'int'>

**Tuple Methods**

In [16]:
tup = (2, 1, 3, 1)

# 1. tup.index(el)
print(tup.index(1))


# 2. tup.count(el)
print(tup.count(1))

1
2

**Practise**

In [19]:
# 1. ask user to enter name of movies in a list

m1 = input('Enter movie 1: ')
m2 = input('Enter movie 2: ')
m3 = input('Enter movie 3: ')

movies = [m1, m2, m3]

print(movies)

Enter movie 1: abc
Enter movie 2: don
Enter movie 3: war
['abc', 'don', 'war']

In [26]:
# palindrome: it is read same from both the  start and end
# e.g; 'racecar', "ma'am"

# 2. check if a list contains a palindrome of elements

l1 = [1, 2, 1]
l2 = [1, 2, 3]

# make its copy
copy_l1 = l1.copy()
copy_l1.reverse()

if l1 == copy_l1:
    print('Palindrome')
else:
    print('Not Palindrome')

Palindrome

In [29]:
# 3. count num of stds with A grade in tuple

grades = ('C', 'D', 'A', 'A', 'B', 'B', 'A')

print(grades.count('A'))

3

In [31]:
# store above values in a list & sort them from A to D

grades = ['C', 'D', 'A', 'A', 'B', 'B', 'A']
grades.sort()
print(grades)

['A', 'A', 'A', 'B', 'B', 'C', 'D']