<a href="https://colab.research.google.com/github/mhasnainr/Python-Apna-College/blob/main/4__dictionary_%26_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter 4: Dictionary & Set**

# Dictionary

In [3]:
# used to store data values in key:value pairs
# they are unordered, mutable, don't allow duplicatw key

# Syntax: var_name = { 'name' : "", 'cgpa' : 3.3 }

In [4]:
# e.g;

info = {
    'name' : 'Hasnain',
    'languages' : ['Python', 'JS'],
    'topics' : ('dict', 'set'),
    'age' : 32,
    'is_adult' : True,
    'marks' : 54.2
}

print(info)
print(type(info))

{'name': 'Hasnain', 'languages': ['Python', 'JS'], 'topics': ('dict', 'set'), 'age': 32, 'is_adult': True, 'marks': 54.2}
<class 'dict'>

In [6]:
# note about dictionary

# - values, almost all data types are acceptable.

# - key, str, int, float, bool, tuple etc can be used,
# but not not the ones whose value changes like list, and dict

**Dictionary Methods**

In [7]:
# mostly used methods

# myDict.

# 1. keys()
# values()
# items()
# get('key')
# update(newDict)

# Set

In [13]:
# colection of unordered items
# they itself are mutable
# each el must be unique and immutable

# Syntax: {,}

In [2]:
# data types can be stored in set
# int, float, str, bool, tuple

# list and dict, can't be stored

In [4]:
# e.g;

collection = {1, 2, 3, 4}

print(collection)
print(type(collection))

{1, 2, 3, 4}
<class 'set'>

In [8]:
collection = {1, 2, 'hello', 'welcome', 'hello', 1}

print(collection)
print(len(collection)) # number of items, without repeatition


# note: no repeation of element and order will change automaticaly

{1, 2, 'welcome', 'hello'}
4

In [11]:
# empty set

empty_set = set()
print(type(empty_set))

# reason: {} is already used in dict

<class 'set'>

**Set Methods**

In [15]:
# mostly used
# set.

# add(el)
# remove(el)
# clear(): empties the set
# pop(): removes random value
# union(set2)
# intersection(set2)

In [14]:
# hash value

**Practise**

In [16]:
# Qs:

meanings = {
    'table' : ['piece of furniture', 'list of facts & figures'],
    'cat' : 'small animal'
}

print(meanings)

{'table': ['piece of furniture', 'list of facts & figures'], 'cat': 'small animal'}

In [18]:
# Qs:

sub = {'python', 'java', 'C++', 'python', 'JS', 'java', 'python', 'java', 'C++', 'C'}
print(sub)
print(len(sub))

{'C', 'C++', 'java', 'python', 'JS'}
5

In [20]:
# Qs:

marks = {}

x = int(input('Enter marks of Mathematics: '))
marks.update({'Mathematics': x})

x = int(input('Enter marks of Business: '))
marks.update({'Business': x})

x = int(input('Enter marks of Physics: '))
marks.update({'Physics': x})

print(marks)

Enter marks of Mathematics: 65
Enter marks of Business: 54
Enter marks of Physics: 65
{'Mathematics': 65, 'Business': 54, 'Physics': 65}

In [24]:
# Qs.

# 1st method
# store = {9, '9.0'}

# 2nd method: using tuples
store = {
    ('int', 9),
    ('float', 9.0)
}

print(store)

{('int', 9), ('float', 9.0)}